.wrapper {
    width: 200px;
    height: 100px;
    position: relative;
    margin: 100px;
    border: 5px solid rgb(192, 219, 255);
    background-color: #f1f5f8;
    border-radius: 15px;
}
.wrapper:before {
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: rgb(192, 219, 255);
    position: absolute;
    bottom: 0;
    right: 70%;
    margin-bottom: -44px;
}
.wrapper:after {
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #f1f5f8;
    position: absolute;
    bottom: 0;
    right: 70%;
    margin-bottom: -36px;
    }
