.g-container {
  column-count: 4;
  column-gap: 0.5vw;
  padding-top: 0.5vw;
}

.g-item {
  position: relative;
  width: 24vw;
  margin-bottom: 1vw;
  break-inside: avoid;
}

.g-item:nth-child(1) {
  height: 63px;
  background: #372273;
}

.g-item:nth-child(1)::after {
  content: "1";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(2) {
  height: 140px;
  background: #0d481f;
}

.g-item:nth-child(2)::after {
  content: "2";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(3) {
  height: 145px;
  background: #1f4d11;
}

.g-item:nth-child(3)::after {
  content: "3";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(4) {
  height: 100px;
  background: #09d8f2;
}

.g-item:nth-child(4)::after {
  content: "4";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(5) {
  height: 306px;
  background: #2ef9d3;
}

.g-item:nth-child(5)::after {
  content: "5";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(6) {
  height: 325px;
  background: #8be112;
}

.g-item:nth-child(6)::after {
  content: "6";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(7) {
  height: 158px;
  background: #99a1ae;
}

.g-item:nth-child(7)::after {
  content: "7";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(8) {
  height: 142px;
  background: #a944f8;
}

.g-item:nth-child(8)::after {
  content: "8";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(9) {
  height: 313px;
  background: #62243f;
}

.g-item:nth-child(9)::after {
  content: "9";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(10) {
  height: 51px;
  background: #654bd3;
}

.g-item:nth-child(10)::after {
  content: "10";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(11) {
  height: 258px;
  background: #43f32c;
}

.g-item:nth-child(11)::after {
  content: "11";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(12) {
  height: 148px;
  background: #7ad5c0;
}

.g-item:nth-child(12)::after {
  content: "12";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(13) {
  height: 77px;
  background: #08d602;
}

.g-item:nth-child(13)::after {
  content: "13";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(14) {
  height: 131px;
  background: #0f0f31;
}

.g-item:nth-child(14)::after {
  content: "14";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(15) {
  height: 212px;
  background: #3e6ea0;
}

.g-item:nth-child(15)::after {
  content: "15";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(16) {
  height: 67px;
  background: #5c8bfc;
}

.g-item:nth-child(16)::after {
  content: "16";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(17) {
  height: 110px;
  background: #b5a79c;
}

.g-item:nth-child(17)::after {
  content: "17";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(18) {
  height: 254px;
  background: #1e5946;
}

.g-item:nth-child(18)::after {
  content: "18";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(19) {
  height: 66px;
  background: #b5b94d;
}

.g-item:nth-child(19)::after {
  content: "19";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(20) {
  height: 83px;
  background: #7c840d;
}

.g-item:nth-child(20)::after {
  content: "20";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(21) {
  height: 109px;
  background: #162d06;
}

.g-item:nth-child(21)::after {
  content: "21";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(22) {
  height: 114px;
  background: #a06cc2;
}

.g-item:nth-child(22)::after {
  content: "22";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(23) {
  height: 281px;
  background: #815cab;
}

.g-item:nth-child(23)::after {
  content: "23";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(24) {
  height: 131px;
  background: #42a83c;
}

.g-item:nth-child(24)::after {
  content: "24";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(25) {
  height: 346px;
  background: #4e349a;
}

.g-item:nth-child(25)::after {
  content: "25";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(26) {
  height: 344px;
  background: #3827cb;
}

.g-item:nth-child(26)::after {
  content: "26";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(27) {
  height: 81px;
  background: #3205f7;
}

.g-item:nth-child(27)::after {
  content: "27";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(28) {
  height: 89px;
  background: #cc451b;
}

.g-item:nth-child(28)::after {
  content: "28";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(29) {
  height: 289px;
  background: #c4c9e4;
}

.g-item:nth-child(29)::after {
  content: "29";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(30) {
  height: 157px;
  background: #385bcb;
}

.g-item:nth-child(30)::after {
  content: "30";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(31) {
  height: 314px;
  background: #413d85;
}

.g-item:nth-child(31)::after {
  content: "31";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-item:nth-child(32) {
  height: 88px;
  background: #2f4ba8;
}

.g-item:nth-child(32)::after {
  content: "32";
  position: absolute;
  color: #fff;
  font-size: 2vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
