.box {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
     }
    /* 四周阴影 */
    .shadow {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    }
    /* 左上邻边阴影 */
    .shadow-top-left {
    box-shadow: -10px -10px 15px 0px rgba(0, 0, 0, 0.5);
    }
    /* 右上邻边阴影 */
    .shadow-top-right {
    box-shadow: 10px -10px 15px 0px rgba(0, 0, 0, 0.5);
    }
    /* 左下邻边阴影 */
    .shadow-bottom-left {
    box-shadow: -10px 10px 15px 0px rgba(0, 0, 0, 0.5);
    }
    /* 右下邻边阴影 */
    .shadow-bottom-right {
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.5);
    }
    /* 左侧单边阴影 */
    .shadow-left {
    box-shadow: -15px 0 10px -10px rgba(0, 0, 0, 0.5);
    }
    /* 右侧单边阴影 */
    .shadow-right {
    box-shadow: 15px 0 10px -10px rgba(0, 0, 0, 0.5);
    }
    /* 顶部单边阴影 */
    .shadow-top {
    box-shadow: 0 -15px 10px -10px rgba(0, 0, 0, 0.5);
    }
    /* 底部单边阴影 */
    .shadow-bottom {
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
    }
    /* 注意，当实现单边阴影时，第四个数值都是负数，⽽且⽔平偏移量（第⼀
    个数值）或垂直偏移量（第⼆个数值）的绝对值都会⽐第四个数值的绝对
    值⼤。 */