@charset "UTF-8";

.cc-bg-w {
  background-color: #ffffff;
}

.cc-tc-w {
  color: #ffffff;
}

.cc-bg-b {
  background-color: #000000;
}

.cc-tc-b {
  color: #000000;
}

.cc-bg-p {
  background-color: #409eff;
}

.cc-tc-p {
  color: #409eff;
}

.cc-bg-s {
  background-color: #67c23a;
}

.cc-tc-s {
  color: #67c23a;
}

.cc-bg-e {
  background-color: #e6a23c;
}

.cc-tc-e {
  color: #e6a23c;
}

.cc-bg-d {
  background-color: #f56c6c;
}

.cc-tc-d {
  color: #f56c6c;
}

.cc-bg-i {
  background-color: #909399;
}

.cc-tc-i {
  color: #909399;
}

.cc-bg-l1 {
  background-color: #53a8ff;
}

.cc-tc-l1 {
  color: #53a8ff;
}

.cc-bg-l2 {
  background-color: #66b1ff;
}

.cc-tc-l2 {
  color: #66b1ff;
}

.cc-bg-l3 {
  background-color: #79bbff;
}

.cc-tc-l3 {
  color: #79bbff;
}

.cc-bg-l4 {
  background-color: #8cc5ff;
}

.cc-tc-l4 {
  color: #8cc5ff;
}

.cc-bg-l5 {
  background-color: #a0cfff;
}

.cc-tc-l5 {
  color: #a0cfff;
}

.cc-bg-l6 {
  background-color: #b3d8ff;
}

.cc-tc-l6 {
  color: #b3d8ff;
}

.cc-bg-l7 {
  background-color: #c6e2ff;
}

.cc-tc-l7 {
  color: #c6e2ff;
}

.cc-bg-l8 {
  background-color: #d9ecff;
}

.cc-tc-l8 {
  color: #d9ecff;
}

.cc-bg-l9 {
  background-color: #ecf5ff;
}

.cc-tc-l9 {
  color: #ecf5ff;
}

.cc-bg-t1 {
  background-color: #303133;
}

.cc-tc-t1 {
  color: #303133;
}

.cc-bg-t2 {
  background-color: #606266;
}

.cc-tc-t2 {
  color: #606266;
}

.cc-bg-t3 {
  background-color: #909399;
}

.cc-tc-t3 {
  color: #909399;
}

.cc-bg-t4 {
  background-color: #c0c4cc;
}

.cc-tc-t4 {
  color: #c0c4cc;
}
