@charset "UTF-8";

.cc-click--invalid {
  pointer-events: none;
}

.cc-onselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cc-bs-b {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

.cc-bs-d {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
}

.cc-bs-l {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.cc-bc-b {
  border: 1px solid #dcdfe6;
}

.cc-bs-n {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cc-bc-l {
  border: 1px solid #dcdfe6;
  border-color: #ebeef5;
}

.cc-br-0 {
  border-radius: 0;
}

.cc-br-2 {
  border-radius: 2px;
}

.cc-br-4 {
  border-radius: 4px;
}

.cc-f--left {
  float: left;
}

.cc-f--right {
  float: right;
}

.cc-dis--n {
  display: none;
}

.cc-dis--b {
  display: block;
}

.cc-dis--i {
  display: inline;
}

.cc-dis--ib {
  display: inline-block;
}

.cc-pos--a {
  position: absolute;
}

.cc-pos--r {
  position: relative;
}

.cc-pos--f {
  position: fixed;
}

.cc-pos--s {
  position: static;
}

.cc-pos--i {
  position: inherit;
}

.cc-cur--a {
  cursor: auto;
}

.cc-cur--c {
  cursor: crosshair;
}

.cc-cur--d {
  cursor: default;
}

.cc-cur--p {
  cursor: pointer;
}

.cc-cur--m {
  cursor: move;
}

.cc-cur--t {
  cursor: text;
}

.cc-cur--w {
  cursor: wait;
}

.cc-cur--h {
  cursor: help;
}

.cc-fw--n {
  font-weight: normal;
}

.cc-fw--b {
  font-weight: bold;
}

.cc-fw--l {
  font-weight: lighter;
}

.cc-ta--c {
  text-align: center;
}

.cc-ta--left {
  text-align: bold;
}

.cc-ta--r {
  text-align: right;
}

.cc-td--o {
  text-decoration: overline;
}

.cc-td--l {
  text-decoration: line-through;
}

.cc-td--u {
  text-decoration: underline;
}

.cc-td--n {
  text-decoration: none;
}

.cc-ov--o {
  overflow: overline;
}

.cc-ov--l {
  overflow: line-through;
}

.cc-ov--u {
  overflow: underline;
}

.cc-ov--n {
  overflow: none;
}
